<?xml version="1.0"?>
<config>
	<modules>
		<ParadoxLabs_Transarmor>
			<version>1.1.3.20150508</version>
		</ParadoxLabs_Transarmor>
	</modules>
	<global>
		<models>
			<transarmor>
				<class>ParadoxLabs_Transarmor_Model</class>
                <resourceModel>transarmor_mysql4</resourceModel>
			</transarmor>
            <transarmor_mysql4>
                <class>ParadoxLabs_Transarmor_Model_Resource</class>
                <entities>
                    <card>
                        <table>transarmor_card</table>
                    </card>
                </entities>
            </transarmor_mysql4>
			<sales>
				<rewrite>
					<service_quote>ParadoxLabs_Transarmor_Model_Quote</service_quote>
				</rewrite>
			</sales>
			<authorizenet>
				<rewrite>
					<directpost_observer>ParadoxLabs_Transarmor_Model_Directpost</directpost_observer>
				</rewrite>
			</authorizenet>
			<opc>
				<rewrite>
					<checkout_type_onepage>ParadoxLabs_Transarmor_Model_Onepage</checkout_type_onepage>
				</rewrite>
			</opc>
		</models>
		<resources>
			<transarmor_setup>
				<setup>
					<module>ParadoxLabs_Transarmor</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</transarmor_setup>
			<transarmor_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</transarmor_write>
			<transarmor_read>
				<connection>
					<use>core_read</use>
				</connection>
			</transarmor_read>
		</resources>
		<blocks>
			<transarmor>
				<class>ParadoxLabs_Transarmor_Block</class>
			</transarmor>
		</blocks>
        <helpers>
            <transarmor>
                <class>ParadoxLabs_Transarmor_Helper</class>
            </transarmor>
        </helpers>
		<events>
			<sales_order_creditmemo_refund>
				<observers>
					<transarmor_refund>
						<class>transarmor/observer</class>
						<method>processRefund</method>
					</transarmor_refund>
				</observers>
			</sales_order_creditmemo_refund>
			<controller_action_predispatch>
				<observers>
					<transarmor_notification>
						<class>transarmor/feed</class>
						<method>observe</method>
					</transarmor_notification>
				</observers>
			</controller_action_predispatch>
		</events>
	</global>
	<crontab>
		<jobs>
			<transarmor_daily_billing>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>transarmor/payment::runDailyBilling</model>
				</run>
			</transarmor_daily_billing>
		</jobs>
	</crontab>
	<default>
		<payment>
			<transarmor>
				<active>0</active>
				<title>Credit Card (First Data)</title>
				<cctypes>AE,VI,MC,DI</cctypes>
				<login />
				<password backend_model="adminhtml/system_config_backend_encrypted" />
				<trans_key backend_model="adminhtml/system_config_backend_encrypted" />
				<model>transarmor/payment</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<test>1</test>
				<debug>1</debug>
				<allowspecific>0</allowspecific>
				<currency>USD</currency>
				<useccv>1</useccv>
			</transarmor>
		 </payment>
	</default>
	<frontend>
		<routers>
			<transarmor>
				<use>standard</use>
				<args>
					<module>ParadoxLabs_Transarmor</module>
					<frontName>transarmor</frontName>
				</args>
			</transarmor>
			<checkout>
				<args>
					<modules>
						<ParadoxLabs_Transarmor before="Mage_Checkout">ParadoxLabs_Transarmor</ParadoxLabs_Transarmor>
					</modules>
				</args>
			</checkout>
		</routers>
		<secure_url>
			<customer>/transarmor/</customer>
		</secure_url>
		<layout>
			<updates>
				<recurring>
					<file>recurring-profile.xml</file>
				</recurring>
				<transarmor>
					<file>transarmor.xml</file>
				</transarmor>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<transarmor before="Mage_Adminhtml">ParadoxLabs_Transarmor_Adminhtml</transarmor>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<recurring>
					<file>recurring-profile.xml</file>
				</recurring>
				<transarmor>
					<file>transarmor.xml</file>
				</transarmor>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
	</adminhtml>
</config>