<?xml version="1.0"?>
<config>
    <modules>
        <Egs_Firstdata>
            <version>1.1.2</version>
        </Egs_Firstdata>
    </modules>
    <frontend>
        <routers>
            <firstdata>
                <use>standard</use>
                <args>
                    <module>Egs_Firstdata</module>
                    <frontName>Firstdata</frontName>
                </args>
            </firstdata>
        </routers>
        <layout>
            <updates>
                <firstdata>
                    <file>firstdata.xml</file>
                </firstdata>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
			<cc_cid>
			        <to_order_payment>*</to_order_payment>
			</cc_cid>
			<amex_cc_cid><to_order_payment>*</to_order_payment></amex_cc_cid>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <firstdata>
                <class>Egs_Firstdata_Model</class>
                <resourceModel>Firstdata_mysql4</resourceModel>
            </firstdata>
            <firstdata_mysql4>
                <class>Egs_Firstdata_Model_Mysql4</class>
                <entities>
                    <firstdata>
                        <table>firstdatagge4</table>
                    </firstdata>
                </entities>
            </firstdata_mysql4>
        </models>
        <resources>
            <firstdata_setup>
                <setup>
                    <module>Egs_Firstdata</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </firstdata_setup>
            <firstdata_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </firstdata_write>
            <firstdata_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </firstdata_read>
        </resources>
        <blocks>
            <firstdata>
                <class>Egs_Firstdata_Block</class>
            </firstdata>
        </blocks>
        <helpers>
            <firstdata>
                <class>Egs_Firstdata_Helper</class>
            </firstdata>
        </helpers>
    </global>
    <default>
        <payment>
            <firstdata>
                <active>1</active>
                <model>firstdata/firstdata</model>
                <order_status>processing</order_status>
                <title>Firstdata GGe4</title>
		<useccv>1</useccv>
            </firstdata>
         </payment>
    </default>
</config>