<?xml version="1.0"?>
<config>
    <modules>
        <Infinite_CustomerLogin>
            <version>0.1.0</version>
        </Infinite_CustomerLogin>
    </modules>
    <global>
        <models>
            <customerlogin>
                <class>Infinite_CustomerLogin_Model</class>
            </customerlogin>
        </models>
        <helpers>
            <customerlogin>
                <class>Infinite_CustomerLogin_Helper</class>
            </customerlogin>
        </helpers>
        <blocks>
            <customerlogin>
                <class>Infinite_CustomerLogin_Block</class>
            </customerlogin>
        </blocks>
        <events>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <controller_action_predispatch_customer_account_loginPost_customerlogin>
                        <type>singleton</type>
                        <class>Infinite_CustomerLogin_Model_Observer</class>
                        <method>redirectCustomerToRelativeWebsite</method>
                    </controller_action_predispatch_customer_account_loginPost_customerlogin>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch>
                <observers>
                    <controller_action_predispatch_customerlogin>
                        <type>singleton</type>
                        <class>Infinite_CustomerLogin_Model_Observer</class>
                        <method>checkLogin</method>
                    </controller_action_predispatch_customerlogin>
                </observers>
            </controller_action_predispatch>
            <customer_register_success>
                <observers>
                    <customer_register_success_customerlogin>
                        <type>singleton</type>
                        <class>Infinite_CustomerLogin_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </customer_register_success_customerlogin>
                </observers>
            </customer_register_success>
        </events>
    </global>
</config> 