<!--@subject Newsletter subscription success @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<div style="height: 200px;">
    <!-- Banner image -->
    <img src="{{skin url='images/email-banner.jpg'}}" />
</div>

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            Welcome to monogram at home, Thank you for newsletter subscribed.

            <br /> <br />
            Click <a href="">here</a> to unsubscribe.
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
