<?xml version="1.0"?>
<!--
/**
 * Julfiker_Contact extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Julfiker
 * @package        Julfiker_Contact
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Julfiker_Contact>
            <version>1.0.0</version>
        </Julfiker_Contact>
    </modules>
    <global>
        <resources>
            <julfiker_contact_setup>
                <setup>
                    <module>Julfiker_Contact</module>
                    <class>Julfiker_Contact_Model_Resource_Setup</class>
                </setup>
            </julfiker_contact_setup>
        </resources>
        <blocks>
            <julfiker_contact>
                <class>Julfiker_Contact_Block</class>
            </julfiker_contact>
        </blocks>
        <helpers>
            <julfiker_contact>
                <class>Julfiker_Contact_Helper</class>
            </julfiker_contact>
        </helpers>
        <models>
            <julfiker_contact>
                <class>Julfiker_Contact_Model</class>
                <resourceModel>julfiker_contact_resource</resourceModel>
            </julfiker_contact>
            <julfiker_contact_resource>
                <class>Julfiker_Contact_Model_Resource</class>
                <entities>
                    <contact>
                        <table>julfiker_contact_contact</table>
                    </contact>
                    <contact_comment>
                        <table>julfiker_contact_contact_comment</table>
                    </contact_comment>
                </entities>
            </julfiker_contact_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <julfiker_contact>
                        <class>Julfiker_Contact_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </julfiker_contact>
                </observers>
            </controller_front_init_routers>
        </events>
        <template>
            <email>
                <contacts_email_ambassador_template translate="label" module="julfiker_contact">
                    <label>Contact for an Ambassador</label>
                    <file>contact_ambassador.html</file>
                    <type>html</type>
                </contacts_email_ambassador_template>
                <contacts_email_hostparty_template translate="label" module="julfiker_contact">
                    <label>Contact for host a party</label>
                    <file>contact_hostparty.html</file>
                    <type>html</type>
                </contacts_email_hostparty_template>
                <contacts_email_forquestion_template translate="label" module="julfiker_contact">
                    <label>Contact for asking question </label>
                    <file>contact_question.html</file>
                    <type>html</type>
                </contacts_email_forquestion_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <julfiker_contact>
                    <file>julfiker_contact.xml</file>
                </julfiker_contact>
            </updates>
        </layout>
        <translate>
            <modules>
                <Julfiker_Contact>
                    <files>
                        <default>Julfiker_Contact.csv</default>
                    </files>
                </Julfiker_Contact>
            </modules>
        </translate>
        <global_search>
            <contact>
                <class>julfiker_contact/adminhtml_search_contact</class>
                <acl>julfiker_contact</acl>
            </contact>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Julfiker_Contact before="Mage_Adminhtml">Julfiker_Contact_Adminhtml</Julfiker_Contact>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <julfiker_contact>
                <use>standard</use>
                <args>
                    <module>Julfiker_Contact</module>
                    <frontName>contact</frontName>
                </args>
            </julfiker_contact>
        </routers>
        <layout>
            <updates>
                <julfiker_contact>
                    <file>julfiker_contact.xml</file>
                </julfiker_contact>
            </updates>
        </layout>
        <translate>
            <modules>
                <Julfiker_Contact>
                    <files>
                        <default>Julfiker_Contact.csv</default>
                    </files>
                </Julfiker_Contact>
            </modules>
        </translate>
    </frontend>
    <default>
        <julfiker_contact>
            <contact>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Contacts</meta_title>
            </contact>
        </julfiker_contact>
        <contacts>
            <email>
                <ambassador_template>contacts_email_ambassador_template</ambassador_template>
                <hostparty_template>contacts_email_hostparty_template</hostparty_template>
                <forquestion_template>contacts_email_forquestion_template</forquestion_template>
            </email>
        </contacts>
    </default>
</config>
