<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <div style="width: 600px; overflow: hidden; padding:20px 0px; text-align: center; background: #fff">
                            <div style="width: 200px; margin: auto">
                                <a href="https://www.facebook.com/monogram.at.home" style="float: left" target="_blank">
                                    <img src="{{skin url='images/facebook-150x150px.jpg'}}" style="border: 0; width: 50px;" />
                                </a>
                                <a href="https://twitter.com/monogramathome" style="float: left" target="_blank">
                                    <img src="{{skin url='images/twitter-150x150px.jpg'}}"  style="border: 0; width: 50px;" />
                                </a>
                                <a href="https://www.instagram.com/monogramathome/" style="float: left" target="_blank">
                                    <img src="{{skin url='images/instagram-150x150px.jpg'}}"  style="border: 0; width: 50px;" />
                                </a>
                                <a href="https://www.pinterest.com/monogramathome/" style="float: left" target="_blank">
                                    <img src="{{skin url='images/pinterest-150x150px.jpg'}}"  style="border: 0; width: 50px;" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width: 600px; overflow: hidden; text-align: center; background: #fff">
                            <p style="color:#ec008b "> <b> Contact info: </b></p>
                            <p style="line-height: 20px;">
                                NORAURE London Oxford <br>
                                Street 012 United Kingdom.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width: 600px; overflow: hidden; text-align: center; background: #fff; padding-bottom: 10px">
                            <a href="{{store url=''}}contacts">Contact Us </a> |
                            <a href="{{store url=''}}about-us">About Us</a> |
                            <a href="{{store url=''}}privacy-policy">Privacy Policy</a> |
                            <a href="{{store url=''}}return-policy">Return Policy</a> |
                            <a href="{{store url=''}}shipping-policy">Shipping Policy</a>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="background-image: url(' {{skin url='images/email-bottom-border.jpg'}}'); width:600px; height: 15px; "></div>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
