<?xml version="1.0" ?>
<config>
    <modules>
    	<!-- Name Our own Extension Vertion  -->
        <Infinite_MagentoAPI>
            <version>1.0.0</version>
        </Infinite_MagentoAPI>
    </modules>
    <global>
 	    <!-- Extension will be accessable from all site globaly -->
        <models>
            <magento_api>
                <class>Infinite_MagentoAPI_Model</class>
            </magento_api>
        </models>
        <resources>
            <magento_api_setup>
                <setup>
                    <module>Infinite_MagentoAPI</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magento_api_setup>
            <magento_api_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magento_api_write>
            <magento_api_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magento_api_read>
        </resources>
        <blocks>
            <magento_api>
                <class>Infinite_MagentoAPI_Block</class>
            </magento_api>
        </blocks>
        <helpers>
            <magento_api>
                <class>Infinite_MagentoAPI_Helper</class>
            </magento_api>
        </helpers>
    </global>
    <frontend>
    
		<routers>
		   <Infinite_MagentoAPI>
		       <use>standard</use>
		       <args>
		          <module>Infinite_MagentoAPI</module>
		          <frontName>jeweltestmodule</frontName>
		       </args>
		    </Infinite_MagentoAPI>
		</routers>
     
        <events>
        
			<controller_action_predispatch_checkout_onepage_index>
		        <observers>
		          <checkout_cart_magento_api>
			            <type>model</type>
			            <class>Infinite_MagentoAPI_Model_Observer</class>
			            <method>minorderAction</method>
		          </checkout_cart_magento_api>
		        </observers>
		    </controller_action_predispatch_checkout_onepage_index>
      
            <catalog_product_type_prepare_full_options>
                <observers>
                    <checkout_cart_magento_api>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>catalogProductTypePrepare</method>
                    </checkout_cart_magento_api>
                </observers>
            </catalog_product_type_prepare_full_options>
        
            <checkout_cart_product_add_after>
                <observers>
                    <checkout_cart_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>checkoutCartAttribute</method>
                    </checkout_cart_magento_api>
                </observers>
            </checkout_cart_product_add_after>
            
            <customer_login>
                <observers>
                    <customer_login_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>customerLoggedIn</method>
                    </customer_login_magento_api>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <customer_logout_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>customerLogout</method>
                    </customer_logout_magento_api>
                </observers>
            </customer_logout>
            <customer_register_success>
                <observers>
                    <customer_register_success_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </customer_register_success_magento_api>
                </observers>
            </customer_register_success>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <controller_action_postdispatch_checkout_onepage_saveBillingAction_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>saveBillingDetail</method>
                    </controller_action_postdispatch_checkout_onepage_saveBillingAction_magento_api>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_customer_account_editPost>
                <observers>
                    <controller_action_postdispatch_customer_account_editPost_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>customerAccountEditPost</method>
                    </controller_action_postdispatch_customer_account_editPost_magento_api>
                </observers>
            </controller_action_postdispatch_customer_account_editPost>
            <controller_action_postdispatch_customer_address_formPost>
                <observers>
                    <controller_action_postdispatch_customer_address_formPost_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>customerAddressFormPost</method>
                    </controller_action_postdispatch_customer_address_formPost_magento_api>
                </observers>
            </controller_action_postdispatch_customer_address_formPost>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_onepage_controller_success_action_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>checkoutOnepageSuccess</method>
                    </checkout_onepage_controller_success_action_magento_api>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <controller_action_layout_generate_blocks_before_magento_api>
                        <type>singleton</type>
                        <class>Infinite_MagentoAPI_Model_Observer</class>
                        <method>enableAddressFieldsToRegister</method>
                    </controller_action_layout_generate_blocks_before_magento_api>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magento_api>
                                            <title>Magento API</title>
                                            <sort_order>70</sort_order>
                                        </magento_api>
                                    </children>
                                </config>
                            </children>
                        </system>                    
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>