<!--@subject Event Invitation @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<div style="height: 200px;">
    <!-- Banner image -->
    <img src="{{skin url='images/email-banner.jpg'}}" />
</div>

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p>Hi {{var name}},</p>
            <p>Congratulation! you are invited to join an event.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Would you like to join?</p>
            <p>
                <a href="{{var joinUrl}}">YES</a> OR <a href="{{var rejectUrl}}"> NO </a>
            </p>

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <p></p><b>Event information:</b>
            <p>Hosted by {{var host}}</p>
            <p>{{var title}} </p>

            <p>{{var description}}</p>

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <p><b>Event time:</b></p>
            <p>{{var start_at}}</p>
            <p>{{var end_at}}</p>

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <p><b>Event location:</b> </p>
            <p>{{var location}}</p>
            <p>Google map</p>
            <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q={{var location}}&output=embed"></iframe>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
